body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #faf5fa;
    color: #5e5e5e;

    font-family: 'Macondo Swash Caps', cursive;

    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 5rem;
}

.text {
    font-weight: 800;
    font-size: 56px;
}

.text.rock {
    color: #9265c2;
}

.text.paper {
    color: #63c26b;
}

.text.scissors {
    color: #b85a5a;
}

/* Main area */
.selection {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;
}

.user {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5rem;
}

.selection .battleground {
    border: 4px solid #5e5e5e;
    width: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.battleground .text {
    font-size: 40px;
}

.container {
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container > .user.choice, .container > .computer.choice {
    display: grid;
}

.container .user.choice > *, .container .computer.choice > * {
    grid-column: 1;
    grid-row: 1;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear;
}

#fadein {
    visibility: visible;
    opacity: 1;
}

/* Footer */
.footer {
    background-color: lightgray;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    padding: 0;
}

i {
    color: #5e5e5e;
}

i:hover {
    transform: scale(1.1);
}

i.fa-hand-back-fist:hover {
    color: #9265c2; 
}

i.fa-hand-scissors:hover {
    color: #b85a5a;
}

i.fa-hand:hover {
    color: #63c26b;
}
